<nav class="navbar navbar-default navbar-expand-md navbar-dark  fixed-top" style="background-color: #563E79;">
  <a class="navbar-brand" routerLink="/home">MyShop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto" style="text-emphasis-color: #FFFFFF;">
      
      <li *ngIf ="user" class="nav-item">
        <a class="nav-link" routerLink="/shopping-cart">Shopping Cart</a>
      </li>
      <ng-template #anoynomoususer>
        <li class="nav-item  ">
          <a class="nav-link" routerLink="/signup">SignUp  <span class="sr-only">(current)</span></a>
        </li>
        <li  class="nav-item Disabled ">
          <a class="nav-link" routerLink=""> Or <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item  ">
            <a class="nav-link" routerLink="/login">LogIn  <span class="sr-only">(current)</span></a>
          </li>
          <button  class="btn " type="submit" (click)='logout()'>Logout</button>
      </ng-template>
      
       <li *ngIf="user$ | async as user; else anoynomoususer " ngbDropdown class="nav-item dropdown">
        <a  ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{user.displayName}}
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="/my/orders">My Orders</a>
          <a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
          <a class="dropdown-item" routerLink="/admin/products">Manage Products</a>
      </div>
      </li> 
     
       
     
    </ul>
  
     
    

  </div>
</nav>

